html {
  padding: 50px;
}
text{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body {
  background: url("../images/use_your_illusion.png") repeat;
  padding: 30px;
}
.sidebar {
  background-color: rgba(0,0,0,0.5);
  margin-right: 10px;
  color: #fdfdfd;
}
.list-unstyled li{
  padding: .3em 0em;
}
.main {
  background-color: rgba(0,0,0,0.5);
  color: #fdfdfd;
}
.main-image{
  max-width: 80%;
  max-height: 80%;
  margin: 1em 0em 2em 2em;
}
.front{
  max-width: 30em;
  max-height: 30em;
  text-align: center;
  padding: 5em 2em;
}
.side_links{
  color: white;
}
.side_links:hover{
  color: #428bca;
}
.info{
  padding: 1em 1em;
}
.heatsyncIcon{
  max-width: 10%;
  max-height: 10%;
  padding: 0px 3px;
}
.hackerschoolIcon{
  max-width: 10%;
  max-height: 10%;
  padding: 0px 3px;
}
.post-content img{
  max-width: 100%;
  max-height: 100%;
}
.about {
  margin: 10px;
}
.fa {
  padding: 0px 3px;
}
pre{
  background-color: #272822;
  border-width: 0px;
}
.highlight{
  background-color: #272822;
}
.post-list{
  overflow: auto;
  height: 60vh;
}