html {
  padding: 50px;
}
body {
  background: url("../images/use_your_illusion.png") repeat;
  padding: 30px;
}
h1 {
  text-align: center;
}
.sidebar {
  background-color: rgba(0,0,0,0.5);
  margin-right: 10px;
  color: #fdfdfd;
}
.main {
  background-color: rgba(0,0,0,0.5);
  color: #fdfdfd;
}
.main-image {
  max-width: 100%;
  max-height: 100%;
  padding: 10px 0px 10px 0px;
}
.heatsyncIcon{
  max-width: 10%;
  max-height: 10%;
  padding: 0px 3px;
}
.hackerschoolIcon{
  max-width: 10%;
  max-height: 10%;
  padding: 0px 3px;
}
.about {
  margin: 10px;
}
.fa {
  padding: 0px 3px;
}