body{
    background: url("/images/use_your_illusion.png");
    background-repeat: repeat;
	padding: 60px 50px 0px 50px;
}

.title{
	background-color:rgba(0,0,0,0.5);
}
.main-image{
	max-width: 100%;
	max-height: 100%;
}
.bulk{
	max-height: 80%;
	max-width: 80%;
	background-color: rgba(255,255,255,0.5);
}
p{
	color: #FDFDFD;
}
h1{
	text-align: center;
}

