extends ./layout.jade

block h2
  h2 About

block content
  div.row
  br
  center
  img.main-image(src='/images/ds.jpg')
  br
  div.col-sm-3
  | My resume is available
  a(href='../resume.html') here
  | .
  br
  br
  | Feel free to email me at Alisa [at] Alisa dot Codes
  div.col-sm-9.about
  | Born and raised in Phoenix, AZ, I graduated from Greenway High School in 2009 and went to Scottsdale Community College to pursue a degree in Mathematics. Growing up I competed in Guitar Hero and DDR tournaments, which led to my working at GameStop until early 2014. I started programming in the winter of 2012, competed in a few hackathons, and returned to school changing my major from Math to Computer Science.
  br
  br
  | In the summer of 2013, I was accepted to Hacker School and spent 3 months in New York becoming a better programmer. Since then, I've been working diligently on that same goal, becoming a better programmer.
  br
