extends ./layout.jade

block navList
    li
      a(href='/') Home
    li
      a(href='/about.html') About
    li.active
      a(href='/blog.html') Blog

block mainTitle
    h2 I Write Words.

block content
  div.blog-post
    h2.blog-post
        | Favicons. They're pretty neat.
      p.blog-post-meta
        | August 4th, 2014
      p
        | A favicon (short for favorite icon) is a shortcut icon, displayed next to the title of the webpage on the tab, bookmarks, and sometimes in the address bar next to the url.
        br
        br
        | Favicon's are usually 16x16 pixels and can be added to your site by placing the 'favicon.ico' file in your website's root directory.
        br
        br
        | Adding the file into the root directory should be all you need to do (give it a few minutes once you update your site for the changes to take effect), however if it doesn't you can also link to it directly.
        br
        br
        code
          < link rel='shortcut icon' type='image/ico' href='favicon.ico' / >
        br
        br
        | //My favicon is actually my Github
        a(href='https://github.com/blog/1586-identicons')  identicon
        | .
      h2.blog-post-title
        | Setting Up Github
      p.blog-post-meta
        | June 12th, 2014
      p
        | GitHub is a website. It uses Git.
        br
        | Git is a free and open sourced distributed version control system.
        br
        | It takes snapshots of your code, and saves them. This allows you to easily make changes in your code due to the ease of reestablishing a previous state.
        br
        | There are 3 stages to git's version control. The working directory, the staging directory, and the git directory (repository).
        br
        | The working directory is your local directory, where you'll make all the changes to your code.
        br
        | The staging directory holds all of the changes and snapshots of your code that you commit. Once you are ready to save those changes, you will push them to your git directory. The staging directory is the middle man between the two directories, the purgatory on the way to git heaven.
        br
        | Github is the web-based hosting using Git for version control. It is the GUI for using Git.
        br
        br
        a(href='http://git-scm.com/downloads') Download Git
        br
        | Or, in the terminal (on a Debian based Linux OS)
        br
        code  sudo apt-get install git
        br
        br
        br
        | Set the settings
        br
        code git config --global user.name 'Your Name Here'
        br
        code git config --global user.email 'Your Email Here'
        br
        br
        | Make sure the email you use is the same one as your account on GitHub.
        br
        | Your email is how they match up your profile, with your commits.
        br
        br
        br
        | You can also change the settings so you won't have to enter your password everytime you commit something.
        br
        code git config --global credential.helper cache
