extends ./layout.jade

block title
  title Home

block content
  .col-sm-8.blog-main
    h3
      center
        br
        br
        | I'm Alisa
        br
        | && I write code.
        br
        br
        br
        br
        i.fa.fa-cogs
        | this website is currently under construction.
        i.fa.fa-wrench
        br
        br
        br

