extends ./layout.jade

block navList
    li.active
      a(href='/') Home
    li
      a(href='/about.html') About
    li
      a(href='/blog.html') Blog

block mainTitle
  h2 Oh, Hello

block content
    h3
      center
        br
        br
        | I'm Alisa
        br
        | && I write code.
        br
        br
        br
        br
        i.fa.fa-cogs
        |  this website is currently under construction. 
        i.fa.fa-wrench
        br
        br
        br

