<div class='container-fluid title'>
  <div class='row'>
    <div class='col-md-3 col-sm sidebar'>
      <div class='sidebar-module sidebar-module-insert'>
        <h2>Oh, hello there.</h2>
          <img class='main-image' src='/images/programming.jpg'>
            <i>var name</i> = 'Alisa' ;<br/>
            <i>name.pronounce</i> === ( <i class='fa fa-volume-up' id='sayName'>
              <audio id='pronounce' src='/images/name.ogg' type='audio/ogg'></audio>
            </i> );
            <br/><br/>
          <p>
            <a href='http://www.twitter.com/alisamfp' title='Twitter'><i class='fa fa-twitter-square fa-lg'></i></a>
            <a href='http://www.github.com/alisamfp' title='Github'><i class='fa fa-github-square fa-lg'></i></a>
            <a href='http://www.linkedin.com/in/alisamfp' title='LinkedIn'><i class='fa fa-linkedin-square fa-lg'></i></a>
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01a1t635Oa0fgk_wBhwfuk1Q==&amp;c=HTxbyZjVPBfnIwJ21Mkz534QyNWKclRtkAc6qnQVyAE=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501a1t635Oa0fgk_wBhwfuk1Q\75\75\46c\75HTxbyZjVPBfnIwJ21Mkz534QyNWKclRtkAc6qnQVyAE\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Email"><i class='fa fa-envelope fa-lg'></i></a>
            <br/><br/>
            Junior JavaScript Dev.<br/>
            Open Source Proponent.<br/>
            Data Visualization Lover.<br/>
            Video Game Enthusiast.
            <br/><br/>
            <a href='http://www.heatsynclabs.org'>
            <img class='heatsyncIcon' src='/images/HSL_Blue.ico'></a>
              HeatSync Labs Member.
            <br/>
            <a href='http://www.hackerschool.com'><img class='hackerschoolIcon' src='/images/hacker-school2.ico'></a> Hacker School Alumn.<br/>
          </p>
      </div>
    </div>