<div class='container-fluid title'>
  <div class='row'>
    <div class='col-lg-3 sidebar'>
      <div class='sidebar-module sidebar-module-insert'>
        <h2>Alisa Palson.</h2>
          <img class='main-image' src='/images/moculusthrift.jpg'>
            <i>var name</i> = 'Alisa' ( <i class='fa fa-volume-up' id='sayName'>
              <audio id='pronounce' src='/images/name.ogg' type='audio/ogg'></audio>
            </i> )
          <p>
            <a href='http://www.twitter.com/alisamfp' title='Twitter'><i class='fa fa-twitter-square fa-lg'></i></a>
            <a href='http://www.github.com/alisamfp' title='Github'><i class='fa fa-github-square fa-lg'></i></a>
            <a href='http://www.linkedin.com/in/alisamfp' title='LinkedIn'><i class='fa fa-linkedin-square fa-lg'></i></a>
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01a1t635Oa0fgk_wBhwfuk1Q==&amp;c=HTxbyZjVPBfnIwJ21Mkz534QyNWKclRtkAc6qnQVyAE=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501a1t635Oa0fgk_wBhwfuk1Q\75\75\46c\75HTxbyZjVPBfnIwJ21Mkz534QyNWKclRtkAc6qnQVyAE\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Email"><i class='fa fa-envelope fa-lg'></i></a>
            <br/><br/>
            <p>Junior JavaScript Dev.</p>
            <p>Open Source Proponent.</p>
            <p>Data Visualization Lover.</p>
            <p>Video Game Enthusiast.</p>
            
            <div class="links">
            <a href='http://www.heatsynclabs.org' class="side_links">
            <img class='heatsyncIcon' src='/images/HSL_Blue.ico'>HeatSync Labs</a> Member.
            <br/>
            <a href='http://www.hackerschool.com' class="side_links"><img class='hackerschoolIcon' src='/images/hacker-school2.ico'> Hacker School</a> Alumn.<br/>
          </p>
        </div>
      </div>
    </div>