<div class='container-fluid title'>
  <div class='row'>
    <div class='col-lg-3 sidebar'>
      <div class='sidebar-module sidebar-module-insert'>
        <h2>Alisa Palson. 
          ( <i class='fa fa-volume-up' id='sayName'>
          <audio id='pronounce' src='/images/name.ogg' type='audio/ogg'></audio></i> )</h2>
          <img class='main-image' src='/images/moculusthrift.jpg'>
            <ul class="list-unstyled text-center">
              <li>JavaScript Programmer</li>
              <li>Open Source Proponent</li>
              <li>Data Visualization Lover</li>
            </ul>
            <hr/>
            <ul class="list-unstyled text-center">
            <li><a href='http://www.heatsynclabs.org' class="side_links">
            <img class='heatsyncIcon' src='/images/HSL_Blue.ico'>HeatSync Labs</a> Member.</li>
            <li><a href='http://www.hackerschool.com' class="side_links"><img class='hackerschoolIcon' src='/images/hacker-school2.ico'> Hacker School</a> Alumn.</li>
          </ul>
            <hr/>
      </div>
    </div>

