@use "mixins" as *;

.footer {
  margin-top: 0;
  padding-block: var(--space-sm);
  border-top: 1px solid var(--color-border);
  text-align: center;
  color: var(--color-text-muted);
  @include respond($bp-md) {
    padding-block: var(--space-lg);
    margin-top: var(--space-3xl);
  }
}

.inner {
  @include container;
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}

.primary {
  font-size: var(--text-sm);
}

.secondary {
  font-size: var(--text-xs);
}
