@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: #333;
  background: #f5eae0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

.hidden {
  display: none;
}

a {
  color: #003333;
  text-decoration: inherit;
  border-bottom: 3px solid transparent;
}
a:hover {
  border-color: #003333;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
  font-size: 3.2rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* tablet size */
@media screen and (min-width: 700px) {
  body{
  }
}

@media screen and (min-width: 1000px) {
  body {
    margin: 0 auto;
    place-items: center;
  }
}
